[buildout]
develop = .
parts = test

[test]
recipe = zc.recipe.testrunner
defaults = ['-s', 'plone.i18n']
eggs =
    plone.i18n
    zope.i18n
    zope.interface
    zope.component
    zope.testing
    zope.app.publisher
    ZODB3
